.messages {
    padding-top: 81px;
    height: calc(100vh - 81px);
    display: flex;
    flex-direction: column;
}

.messages__contacts {
    width: 100%;
    height: 100%;
}

.messages__contacts__header {
    border-bottom: 1px solid #e5e9f2;
    padding: 0.75rem;
}

.messages__contacts__header__title {
    font-weight: 600;
    font-size: 1.09375rem;
    font-family: "Ubuntu", sans-serif;
    margin: 0;
}

.messages__contacts__header__undertitle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: .25rem 0;
}

.messages__contacts__header__undertitle__select {
    border: none;
    padding: 0.4375rem 1.25rem;
    font-size: 0.875rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    border: 1px solid #e5e9f2;
    border-radius: 0.25rem;
    outline: none;
    cursor: pointer;
}

.messages__contacts__header__undertitle__search {
  display: flex;
}

.messages__contacts__header__undertitle__search__input {
    height: 21px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    outline: none;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.messages__contacts__header__undertitle__search__button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #495057;
    white-space: nowrap;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 45px;
    height: 33px;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.messages__contacts__header__undertitle__search__button__svg {
    height: 1.25rem;
    width: 1.25rem;
}

.messages__contacts__list {
    list-style-type: none;
    padding: 0.75rem;
}

.messages__contacts__list__item {
    display: flex;
    height: 100%;
    margin: 0.4rem 0;
    width: 100%;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
}

.messages__contacts__list__item__link {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 100%;
    padding: .8rem .5rem;
    border: 1px solid #e5e9f2;
    border-radius: 0.25rem;
    transition: all .3s ease;
    color: inherit;
    box-sizing: border-box;
}

.messages__contacts__list__item__link__avatar {
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.messages__contacts__list__item__link__avatar__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messages__contacts__list__item__link__avatar--active-online::before {
    content: "";
    position: absolute;
    display: block;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    top: 0;
    right: 0;
    border: 3px solid #fff;
    border-color: #665dfe;
    background: #44a675;
}

.messages__contacts__list__item__link__avatar--active-offline::before {
    content: "";
    position: absolute;
    display: block;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    top: 0;
    right: 0;
    border: 3px solid #fff;
    border-color: #665dfe;
    background: #6c757d;  
}

.messages__contacts__list__item__link__avatar--notactive-online::before {
    content: "";
    position: absolute;
    display: block;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    top: 0;
    right: 0;
    border: 3px solid #fff;
    background: #44a675;
}

.messages__contacts__list__item__link__avatar--notactive-offline::before {
    content: "";
    position: absolute;
    display: block;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    top: 0;
    right: 0;
    border: 3px solid #fff;
    background: #6c757d;  
}

.messages__contacts__list__item__link__avatar--blocked::before {
    background: #FF337C;
}

.messages__contacts__list__item__link__content {
    padding-left: 0.875rem;
    transition: all .4s;
    overflow: hidden;
    max-width: 100%;
    flex: 1 1 auto;
    box-sizing: border-box;
}

.messages__contacts__list__item__link__content__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.375rem;
}

.messages__contacts__list__item__link__content__info__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.875rem;
    margin-bottom: 0;
    margin-right: auto;
    font-family: "Ubuntu", sans-serif;
}

.messages__contacts__list__item__link__content__info__time {
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    color: #adb5bd;
    white-space: nowrap;
}

.messages__contacts__list__item__link__content__text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.messages__contacts__list__item__link__content__text__p {
    font-size: 0.875rem;
    line-height: 1.34;
    margin-bottom: 0;
    margin-right: auto;
    color: #adb5bd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.messages__contacts__list__item__link__content__text__new {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #665dfe;
    margin-left: 0.375rem !important;
    border-radius: 6.25rem;
}

.messages__contacts__list__item__link__content__text__p__black {
    color: #000;
}

.messages__text {
    display: flex;
    flex-direction: column;
    transition: transform .3s ease, visibility .3s ease;
    background: #fafbfd;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: calc(100vh - 81px);
    width: 100%;
    z-index: 10;
    visibility: hidden;
    transform: translateX(100%);
    padding-top: 81px;
    overflow: hidden;
}

.visible {
    visibility: visible;
    transform: translateX(0);
}

.messages__text__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid #e5e9f2;
    padding: .75rem 1rem;
    width: 100%;
}

.messages__text__header__back {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 48px;
    align-items: center;
    width: 26px;
    box-shadow: none;
    border: none;
    background-color: transparent;
    transition: all 0.2s ease;
    outline: none;
    color: rgba(33, 37, 41, 0.35);
}

.messages__text__header__back:hover {
    color: #000;
}

.messages__text__header__back__svg {
    height: 1.25rem;
    width: 1.25rem;
    overflow: hidden;
    vertical-align: middle;
}

.messages__text__header__name {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;
    width: 50%;
}

.messages__text__header__name__nameonline {
    flex: 1;
    overflow: hidden;
    align-self: center;
    margin-left: 26px;
}

.messages__text__header__name__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    line-height: 1.2;
    font-size: .875rem;
}


.messages__text__header__name__online {
    font-size: 80%;
    font-weight: 400;
    color: #adb5bd;
}

.messages__text__main {
    flex: 2;
    padding: 0.75rem;
    overflow: hidden;
}

.messages__text__main__conteiner {
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow:auto;
}

.messages__text__main__conteiner__maessages-block__date {
    font-size: 0.6875rem;
    padding: 0.125rem 0.5rem;
    border-radius: 0.1875rem;
    box-sizing: border-box;
    background-color: #f8f9fa;
    border: 1px solid #e5e9f2;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.25rem;
}

.messages__text__main__conteiner__maessages-block__message {
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
}

.messages__text__main__conteiner__maessages-block__message.self {
    text-align: right;
}

.messages__text__main__conteiner__maessages-block__message.automatic {
    text-align: center;
}

.messages__text__main__conteiner__maessages-block__message.self .messages__text__main__conteiner__maessages-block__message__wrapper{
    background-color: #665dfe;
    color: #fff;
}

.messages__text__main__conteiner__maessages-block__message.automatic .messages__text__main__conteiner__maessages-block__message__wrapper{
    background-color: #f5f6fa;
    color: #000;
    font-weight: bold;
}

.messages__text__main__conteiner__maessages-block__message__wrapper {
    padding: 1rem 2.25rem;
    background-color: #f5f6fa;
    color: #8094ae;
    margin-left: 1.25rem;
    border-radius: 1.25rem;
    text-align: left;
    display: inline-block;
    max-width: 25rem;
}

.dialog__button__wrapper {
    display: flex;
    justify-content: space-between;
}

.dialog__button {
    border: none;
    outline: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}

.dialog__button.accept {
    background-color: #665dfe;
}

.dialog__button.accept:hover {
    background-color: #4237fe;
}

.dialog__button.decline {
    background-color: #e74c3c;
}

.dialog__button.decline:hover {
    background-color: darkred;
}

.messages__text__main__conteiner__maessages-block__message__time {
    font-size: 0.75rem;
    color: #adb5bd;
    margin-top: 0.3125rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.messages__text__footer {
    padding: .75rem 1rem;
    border-top: 1px solid #e5e9f2;
}

.messages__text__footer__conteiner {
    display: flex;
    flex-wrap: wrap;
}

.messages__text__footer__input-block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.messages__text__footer__input-block__button {
    position: relative;
    width: calc(1.5rem + 2px);
    line-height: 1.5rem;
    cursor: pointer;
    box-shadow: none;
    background-color: transparent !important;
    border: 0;
    transition: all 0.2s ease;
    color: rgba(33, 37, 41, 0.35);
    outline: none;
}

.messages__text__footer__input-block__button__svg{
    height: 1.25rem;
    width: 1.25rem;
}

.messages__text__footer__input-block__textarea {
    display: block;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
    height: auto;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
    border: 1px solid royalblue;
    border-radius: 15px;
    margin-left: 15px;
}

.messages__text__footer__input-block__textarea:disabled {
    border: 1px solid grey;
}

.messages__text__footer__input-block__send {
    height: 3rem;
    width: 3rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #665dfe;
    border: none;
    border-radius: 1.5rem;
    margin-left: 15px;
    outline: none;
}

.messages__text__footer__input-block__send:disabled {
    background-color :grey;
}

.messages__text__footer__input-block__send:hover {
    background-color: #4237fe;
}

.messages__text__footer__input-block__send:hover:disabled {
    background-color :grey;
}


.messages__text__footer__input-block__send__svg {
    height: 1.5rem;
    width: 1.5rem;
    overflow: hidden;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: pointer;
    color: #f8f9fa;
    font-size: 0.875rem;
}

.messages__text__header__name__blockButton_container {
  width: 100%;
  margin-right: 20px;
  font-size: 12px;
  color: #adb5bd;
  text-align: right;
}

.messages__text__header__name__name__link {
    color: inherit;
}

.smiles__conteiner {
    position: absolute;
    width: 169px;
    border: 3px solid royalblue;
    border-radius: 10px;
    top: -90px;
    left: 50px;
    z-index: 110;
}

.smiles {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.smiles_smile {
    cursor: pointer;
}

.messages-backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 1200px) {
    .messages {
        flex-direction: row;
    }

    .messages__contacts {
        flex-grow: 0;
        width: 35rem;
        border-right: 1px solid #e5e9f2;
    }

    .messages__text {
        position: static;
        display: flex;
        flex-direction: column;
        background: #fafbfd;
        width: 100%;
        overflow: hidden;
        transform: translateX(0%);
        padding: 0;
    }
}

