.userpage-top {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    min-height: 421px;
    position: relative;
    background-size: cover;
}

.userpage-top__container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 80px;
}

.userpage-top__text__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userpage-top__text__avatar {
    border-radius: 135px;
    max-height: 270px;
    max-width: 350px;
}

.userpage-top__text__container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    align-items: flex-end;
}

.userpage-top__name {
    display: block;
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    color: #fff;
}

.userpage-top__text {
    display: block;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-left: 15px;
}

.userpage-top__buttons__container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .userpage-top__text__container {
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width: 992px) {
    .userpage-top__container {
        width: 992px;
        display: flex;
        justify-content: space-between;
    }

    .userpage-top__text__container {
        margin-top: 70px;
        align-items: flex-end;
    }

    .userpage-top__buttons__container {
        align-items: flex-end;
    }

    .userpage-top__name {
        margin-bottom: 5px;
    }

    .userpage-top__text__container2 {
       align-items: flex-end;
    }
}

@media (min-width: 1200px) {
    .userpage-top__container {
        width: 1200px;
    }
}